server {
    listen 80;
    server_name {{ SERVER_NAME }} www.{{ SERVER_NAME }};
    error_log {{ HOME_DIR }}/nginx_error.log;
    access_log {{ HOME_DIR }}/nginx_access.log;
    charset utf-8;
    client_max_body_size 8m;

    gzip_types text/plain text/xml text/css application/javascript application/x-javascript application/json;

    location / {
        proxy_pass  http://backend;
        include /etc/nginx/proxy.conf;
    }

    location /media {
        root {{ HOME_DIR }}/www;
        autoindex off;
        access_log off;
        expires 30d;
    }

    location /static {
        root {{ HOME_DIR }}/www;
        autoindex off;
        access_log off;
        expires 1M;
    }

    location /static/admin {
        root {{ HOME_DIR }}/www;
        autoindex off;
        access_log off;
        expires 30d;
    }

    location /favicon.ico {
        root {{ HOME_DIR }}/www/;
        access_log off;
        expires 30d;
    }

    location /robots.txt {
        root {{ HOME_DIR }}/www/;
        access_log off;
        expires 30d;
    }

    #error_page  404  /404.html;

    # redirect server error pages to the static page /50x.html
    #error_page   500 502 503 504  /50x.html;
    #location = /50x.html {
    #    root   /var/www/nginx-default;
    #}
}
